body {
    margin: 0;
    padding: 0;
    font-family: Georgia, serif;
}

nav ul {
    list-style: none;
    margin: 16px 16px 16px 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    border: #222;
}

nav ul li {
    display: inline-block;
    margin: 16px 16px 16px 32px;
    padding: 10px;
    border-top: 5px solid #222
    
}

nav ul li a{
    font-family: "Meiryo", serif;
    color: blue;
    font-size: 30px;
    text-decoration: none;
}

section {
    width: 100%;
    border-bottom: 2px solid black;
    margin: 20px auto;
    padding: 20px;
    
}
.Miku {
    color: #39C5BB;
    font-size: 25px;
    margin: 0;
    font-family: "Meiryo", serif;
    
}

.Rin {
    color: #FDD835;
    font-size: 24px;
    margin: 0;
    font-family: "Meiryo", serif;
    
}

.Len {
    color: #FF6F00;
    font-size: 24px;
    margin: 0;
    font-family: "Meiryo", serif;
    
}

.Luka {
    color: #8E24AA;
    font-size: 24px;
    margin: 0;
    font-family: "Meiryo", serif;
    
}

.Kaito {
    color: #1976D2;
    font-size: 24px;
    margin: 0;
    font-family: "Meiryo", serif;
}

.Meiko {
    color: #C2185B;
    font-size: 24px;  
    margin: 0;
    font-family: "Meiryo", serif;
}