body {
    background-color: #f9f9f9;
    margin: 0;
    padding: 20px;
}
caption {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: Georgia, serif;
    color: #333;
}

h1 {
    text-align: center;
    font-family: Georgia, serif;
    color: #333;
}

h2 {
    text-align: center;
    font-family: Georgia, serif;
    color: #333;
}

table {
    background-color: #eefcff;
    width: 70%;
    border: 2px solid black;
    border-collapse: collapse;
    margin: 20px auto;
    font-family: "Meiryo", "Hiragino Kaku Gothic ProN", "Segoe UI", sans-serif;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;

    text-align: left;
    border-bottom: 1px solid #ddd;
    font-size: 33px;
    border: 2px solid black;
    font-family: "Meiryo", "Hiragino Kaku Gothic ProN", "Segoe UI", sans-serif;
    text-align: center;
}

th, td {
    padding: 5px 5px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-size: 30px;
    border: 2px solid black;
    font-family: "Meiryo", "Hiragino Kaku Gothic ProN", "Segoe UI", sans-serif;
    text-align: center;
    
}

th {
    background-color: #f2f2f2;
}